  <!DOCTYPE html>
  <html lang="es">
  <head>
    <title>Gestionar Colegios</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h2>Gestionar Colegios</h2>
      {% if r1 %}
		  <div class="alert alert-success alert-dismissible fade show" role="alert">
			<h5>{{ r1 }}</h5>
			<button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		{% endif %}
		{% if r2 %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
			<h5>{{ r2 }}</h5>
			<button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		{% endif %}
    <div class="row">
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control" id="busqueda" placeholder="Ingrese búsqueda" name="busqueda">
      </div>
      <div class="col-md-2 mb-3">
        <button class="btn btn-primary btn-block" id="buscar" onclick="location.href='/filtrarcolegios/'+document.getElementById('busqueda').value;">Buscar</button>  
      </div>
    </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <a href="/mostrarprincipal" class="btn btn-primary">Regresar</a>
          <a href="/mostraragregarcolegio" class="btn btn-success float-right">Registrar</a>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nit del colegio</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono de contacto</th>
            <th>Nombre persona de contacto</th>
            <th>Fecha Entrega</th>
            <th>Acciones</th>
          </tr>
        </thead>
        {% for x in col%}
        <tbody>
          <tr>
            <td>{{x.nit}}</td>
            <td>{{x.nombre}}</td>
            <td>{{x.direccion}}</td>
            <td>{{x.telefono}}</td>
            <td>{{x.contacto}}</td>
            <td>{{x.fecha}}</td>
            <td>
              <a href="/mostraractualizarcolegio/{{x.nit}}" class="btn btn-warning">Editar</a>
              <a href="/eliminarcolegio/{{x.nit}}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?')">Eliminar</a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  </html>
