<!DOCTYPE html>
<html lang="es">
<head>
  <title>Formulario Principal</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2>Bienvenido al sistema de Recolecciones Colegiales</h2>
    <div class="row">
      <div class="col-md-6">
        <a href="/mostrarlistarcaneca" class="btn btn-primary btn-lg btn-block">Gestionar Canecas</a>
      </div>
      <div class="col-md-6">
        <a href="/mostrarlistarcolegio" class="btn btn-success btn-lg btn-block">Gestionar Colegios</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="/mostrarlistaroperario" class="btn btn-warning btn-lg btn-block">Gestionar Operarios</a>
      </div>
      <div class="col-md-6">
        <a href="/mostrarlistarrecoleccion" class="btn btn-info btn-lg btn-block">Gestionar Recoleccion</a>
      </div>
      <div class="col-md-6">
        <a href="/mostrarconsultas" class="btn btn-info btn-lg btn-block">Gestionar Consultas</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-4">
        <a href="/" class="btn btn-danger btn-lg btn-block">Salir</a>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
